<nb-layout>
  <!-- <nb-layout-header subheader>
  </nb-layout-header> -->
  <nb-sidebar tag="left">
    <!-- <a href="#" (click)="toggle()">Hide menu</a> -->
    <nb-user size="medium" name="Nguyen Vinh Phuoc" title="phuoc.nguyen@axonactive.com">
    </nb-user>
    <nb-search type="rotate-layout"></nb-search><span>Search</span>
    <app-todo-group></app-todo-group>
  </nb-sidebar>
  <nb-layout-column class="colored-column-basic">
    <app-todo-list></app-todo-list>
  </nb-layout-column>
  <nb-sidebar right tag="right">
    <button nbButton status="info" size="tiny" (click)="toggleCompact()">Toggle Compact</button>
  </nb-sidebar>
</nb-layout>